# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directory (add your venv name if it's named differently)
testenv/

# Django specific
*.log
*.pot
*.pyc
*.sqlite3

# Environment variables file
.env

# Django migrations
**/migrations/*

# Database file (if using SQLite)
db.sqlite3

# IDE/editor-specific files
.idea/
.vscode/
.DS_Store


# Ignore compiled and distribution files
build/
dist/
*.egg-info/
